body{

    margin: 0;
    padding: 0;
    background-color: hsl(217, 54%, 11%);
}


.container{

    display: flex;
    text-align: center;
    justify-content: center;
}



.content{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main_content{


    background-color: hsl(216, 50%, 16%);
    height: 675px;
    border-radius: 15px;
}


.image{

    padding: 19px;
}


#equilibrium{

    width: 340px;
    border-radius: 15px;
}

.title{

    font-family: 'Outfit';
    color: aliceblue;
    font-weight: bold;
    font-size: 22px;
    text-align: left;
    padding-left: 26px;
}

.description{

    font-family: 'Outfit';
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    text-align: left;
    padding-left: 26px;
    padding-top: 15px;
}


.price_and_time_left{

    display: flex;
    flex-direction: row;
}

.price{

    padding-top: 35px;
    color: hsl(178, 100%, 50%);
    font-family: 'Outfit';
    text-align: left;
    padding-left: 26px;
    word-spacing: 5px;
}

.time_left{

    color: hsl(215, 51%, 70%);
    padding-top: 35px;
    padding-left: 145px;
    font-family: 'Outfit';
}


.hr{

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}

hr{

    color: aliceblue;
    width: 330px;
}


.profile1{

    display: flex;
    padding-left: 22px;

}

#profile{

    width: 50px;
}

.profile{

    color: aliceblue;
}

.profile_description{

    color: aliceblue;
    padding-top: 15px;
    padding-left: 16px;
    font-family: 'Outfit';
}

.color_word{

    color: hsl(215, 51%, 70%);
}